@font-face { 
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoregular.eot");
  src: url("../fonts/Lato/latoregular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoregular.woff") format("woff"),
        url("../fonts/Lato/latoregular.ttf") format("truetype");
}
@font-face { 
  font-family: "LatoMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latomedium.eot");
  src: url("../fonts/Lato/latomedium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latomedium.woff") format("woff"),
        url("../fonts/Lato/latomedium.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoheavy.eot");
  src: url("../fonts/Lato/latoheavy.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoheavy.woff") format("woff"),
        url("../fonts/Lato/latoheavy.ttf") format("truetype");
}

@font-face {
  font-family: "ChinaCyr";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/China/8650.ttf") format("truetype");
}

 html  {
  box-sizing: border-box;
  } 
body {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  font-family: "LatoRegular";
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
  padding: 0;
}

ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.color_yellow {
  color: #FAD264;;
 }
 .color_white {
  color: #FFFFFF;
 }
 .color_red {
  color: #E20505;
 }
 .butn {
  width: 362px;
  text-transform: uppercase;
  background: #FAD264;
  border-radius: 50px;
  padding-top: 31px;
  padding-bottom: 31px;
  border: none;
}
.butn:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.butn:active {
  background: #CBCBCB;
}
.butn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
  }
.mobile {
    display: none;
  }
  h2 {
  font-family: "LatoMedium";
  font-size: 35px;
  }
  h4 {
    font-size: 24px;
    font-family: "LatoBold";
  }
/*start header*/

.header {
  padding-top: 20px;
  background: url('../imgs/img/headerBG.jpg') no-repeat center top;
  background-size: cover;
 }
.lumus-header__img img{
  max-width: 100%;
}
.lumus-header__intro {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 14px;
  padding-top: 12px;
}
.main-title {
  color: #fff;
  }
 .main-title__bold {
  font-family: "LatoBold";
  font-size: 4.05vw;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-title__font-china {
  font-family: "ChinaCyr";
  font-size: 4.4vw;
  color: #FAD264;
  margin-bottom: 16px;
  white-space: nowrap;
}
 .main-title__stars{
 position: relative;
 z-index: 2;
 margin-bottom: 18px;
 }
 .main-title__stars img {   
  margin-right: 1.5px;
 }
 .main-title__stars::after {
  content: "";
  width: 90%;
  border-top: 1px solid #FAD264;
  position: absolute;
  top:4px;
  z-index: 1;
 }
 .main-title__subtitle p {
   margin-bottom: 0px;
 }
 .main-title__subtitle p:first-of-type {
  padding-right: 4px;
 }
 .main-title__subtitle p:last-of-type {
  margin: 26px 0 29px;
 }
 .main-title__autor-img {
display: none;
 }

.autor img {
max-width: 102%;
height: auto;
margin-top: -11px;
margin-left: -9px;
}
.rectangle {
  background: #FAD264;
}
.rectangle__paragraph {
 padding: 20px 7px 20px 0;
 font-family: "LatoMedium";
 font-size: 20px;
 text-transform: uppercase;
}
/*end стили header*/

/*start presentation*/
.presentation {
  background: url('../imgs/img/presentationBG.jpg') no-repeat center top;
  background-size: cover;
  color: #FFFFFF;
}
.learn__basics {
  margin: 16px 0 25px 0;
}
.learn__basics img{
  width: auto;
  margin-bottom: 8px;
}
.cost__notes p {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cost__value {
  font-family: "LatoBold";
  font-size: 35px;
  margin-bottom: 30px;
  margin-right: 4px;
}
.cost-notes__btn {
  margin-bottom: 29px;
  margin-right: 7px;
  color: #000000;
}
.cost a,
.cost a:hover {
  color: #000000;
}
.cost__timer {
  line-height: 1.05rem; 
}
.cost__timer p:last-of-type {
  margin: 26px 0 52px;
}
/*end presentation*/

/*start differences*/
.differences-title {
  margin: 61px 0 13px;
}
.differences-title h2 {
  padding:0 40px;
}
.benefits img {
  margin-bottom: 10px;
}
.benefits p {
  margin-bottom: 50px;
}

/*end differences*/

/*start notes*/
.line {
 margin: 16px 0 50px;
 
}
.line img {
  max-width: 100%;
  height: auto;

}
.line:before {
  content: "";
  position: absolute;
width: 45%;
left: 15px;
height: 4px;
background: #E20505;
}
.line:after {
  content: "";
  position: absolute;
width: 45%;
right: 15px;
height: 4px;
background: #E20505;
}
.notes__title h2 {
  margin-bottom: 57px;
}
.notes-item {
  margin-bottom: 70px;
  border: 3px solid #FAD264;
  height: 647px;
  
}
.notes-item h5 {
  font-weight: bold;
}
.notes-item__title {
  margin: 37px 0 -2px 0;
}
.notes-item img {
margin: 0 0 22px 4px;
}
.notes-item__subtitle p {
  
  margin: 0 27px 0 35px;
}
/*end notes*/

/*start pros*/
.pros {
  background: #EBEBEB;
}
.pros__title {
  margin: 60px 0 29px;
  
}
.pros-item {
margin-bottom: 60px;
}
.pros-item img{
margin-bottom: 19px;
}
.pros-item__subtitle {
  margin: 0 8px;
}
/*end pros*/

/*start buy-notes*/
.order-notes {
  margin-top: 61px;
  border: 3px solid #E20505;
  min-height: 418px;
}
.order-notes h4 {
  margin-top: 38px;
}
.order-notes__cost {
  font-family: "LatoBold";
  font-size: 35px;
  margin-top: 13px;
}
.order-notes__btn {
  margin-top: 30px;
  margin-left: -6px;
}
.order-notes__sub {
  margin-top: 25px;
}
.order-notes__sub p:last-of-type {
margin-top: 45px;
font-weight: bold;
}
/*end buy-notes*/

/*start personal-account*/
.personal-account {
  background: url('../imgs/img/personal-accBG.jpg') no-repeat center top;
  background-size: cover;
}
.account-title {
  margin-top: 61px;
}
.account-title h4{
margin-bottom: 20px;
}
.account-autor img {
  width: 120%;
  height: auto;
  margin-left: -3px;
}
.account-benefits {
margin-top: 19px;
list-style: none;
line-height: 22px;
}
.account-benefits li {
  position: relative;
  margin-bottom: 20px;
}

.account-benefits li:before {
  content: "";
  position: absolute;
  left: -46px;
  top: 10px;
  width: 28px;
  height: 4px;
  background-color: #FAD264;;
}

/*end personal-account*/

/*start footer*/
.foot {
background: url('../imgs/img/footerBG.jpg') no-repeat center top;
background-size: cover;
color: #FFFFFF;
}
.contacts {
  margin-top: 35px;
  font-family: "LatoMedium";
}
.foot__service p {
text-transform: uppercase;
}
.foot__service a, .foot__call a {
  color: #FAD264;
  text-decoration: none; 
}
.foot__service a:hover {  
  padding-bottom: 2px;
  border-bottom: 1px solid #FAD264;
}
.foot__call {  
position: relative;
top: 0px;
margin-right: 70px;
left: 97px;
text-transform: uppercase;
}
.foot__call:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -67.5px;
  height: 84px;
width: 2px;
  background: #FAD264;
}
.contacts__tel {
  margin: -1px 0 13px -2px;
  font-size: 24px;
}
.foot__call a:hover {
  border-bottom: 2px solid #FAD264;
}
.foot__call p:last-of-type {
  margin-left: -2px;
}
.foot__official-data {
  margin: 8px 0 0 -8px;
  line-height: 14px;
}
.foot__official-data p:first-of-type {
  margin-bottom: 13px;
}
.foot__official-data p:last-of-type {
  margin-top: -10px;
}
.foot__official-data a {
  color: rgba(255, 255, 255, 0.5393);
  text-decoration: none;
}
.foot__official-data a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5393);
}
.foot__official-data, .foot__subtitle {
  font-family: 'Roboto';
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5393);
  }
 .foot__subtitle {
   margin-right: 3px;
 } 
/*end footer*/
/*@media (max-width: 992px) {
  .autor {
    display: flex;
    align-items: center;
  }
  .autor img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .autor {
    display: none;
  }
  
  }
  .cost__notes {
    
  }
}*/
@media (max-width: 576px) {
  .header {
    background: url('../imgs/mobileHeader.jpg') no-repeat center top;
    background-size: cover;
  }
  .lumus-header__img {
    text-align: center;
    position: relative;
  }
  .lumus-header__img img {
    margin-top: 6px;
   }
  .lumus-header__img::before{
    content: "";
    width: 30%;
    border-top: 1px solid #FAD264;
    position: absolute;
    top: 41px;
    left: 5%;
  }
  .lumus-header__img::after{
    content: "";
    width: 30%;
    border-top: 1px solid #FAD264;
    position: absolute;
    top: 41px;
    right: 0px;
    }
  .autor {
    display: none;
  }
  .personal-account-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .account-autor img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
 
  .container {
  max-width: 230px;
  }
  .header {
    font-size: 16px;
    line-height: 19px;
  }
  .differences, .notes, .pros, .buy-notes, .personal-account, .foot {
    display: none;
  }
  .lumus-header__img img {
    max-width: 29%;
  }
  .lumus-header__img::before{
    width: 63px;
    left: 0px;
  }
  .lumus-header__img::after{
    width: 63px;
    right: 0px;
    }
  .lumus-header__intro {
    padding: 0 40px;
  }
  .lumus-header__intro p {
    font-size: 16px;
    line-height: 19px;
  }
  .main-title__bold, .main-title__font-china {
    font-size: 20px;
  }
  .main-title__bold {
    margin: 2px 0 5px;
    padding: 0;
  }
  .main-title__font-china {
    margin: 0 0 11px;
  }
  .main-title__stars {
    padding: 0;
    margin-bottom: 21px; 
  }
  .main-title__stars img {   
    margin-right: 0.39px;
    max-width: 5.49px;
    height: 6px;
   }
  .main-title__stars::after {
    width: 100%;
    left: 0px;
    top: 1px;
  }
  .main-title__subtitle  {
    margin: 0px;
    font-size: 16px;
  line-height: 19px;
  }
  .main-title__subtitle p {
    margin-bottom: 0px;
    padding: 0 5px;
  }
  .mobile {
    display: block;
  }
  .main-title__subtitle p:first-of-type {
    margin-right: 0px;
    
  }
  .main-title__autor-img {
    display: block;
    margin-top: 4px;
    margin-bottom: 17px;
  }
  .main-title__autor-img img{
    height: auto;
    max-width: 94%;
  }
  .main-title__subtitle p:last-of-type {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 26px;
  }
  .rectangle__paragraph {
    padding: 10px 15px 12px;
    font-size: 16px;
    line-height: 19px;
  }
  .presentation {
    background: url('../imgs/mobilePresentation.jpg') no-repeat center top;
    background-size: cover;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
  }
  .learn__basics {
    margin: 0;
    padding-bottom: 7px;
  }
  .learn__basics img {
    margin-bottom: 10px;
  }
  .cost__notes {
    font-size: 18px;
    line-height: 22px;
  }
  .cost__notes p {
    margin: 20px 0 18px;
    
  }
  .cost__value {
    margin: 2px 4px 32px 0;
  }
  .butn {
    max-width: 230px;
    font-size: 18px;
    line-height: 22px;
    padding: 22px 0 19px;
  }
  .cost-notes__btn {
    margin: 0 0 19px;
  }
  .cost__timer {
    line-height: 19px; 
  }
  .cost__timer p:last-of-type {
    margin: 20px 0 40px;
    font-size: 18px;
    line-height: 22px;
  }
}