@font-face { 
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoregular.eot");
  src: url("../fonts/Lato/latoregular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoregular.woff") format("woff"),
        url("../fonts/Lato/latoregular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoheavy.eot");
  src: url("../fonts/Lato/latoheavy.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoheavy.woff") format("woff"),
        url("../fonts/Lato/latoheavy.ttf") format("truetype");
}

@font-face {
  font-family: "ChinaCyr";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/China/8650.ttf") format("truetype");
}

 html  {
  box-sizing: border-box;
} 
body {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  font-family: "LatoRegular";
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
  padding: 0px;
}
ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.color_yellow {
  color: #FAD264;;
 }
 .color_white {
  color: #FFFFFF;
 }
 .color_red {
  color: #E20505;
 }
 .btn {
  width: 360px;
  font-size: 1.13rem;
  text-transform: uppercase;
  background: #FAD264;
  border-radius: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0;
}
button:active, button:focus {
  outline: none;
}
/*start стили header*/
.header {
  padding-top: 20px;
  background: url('../imgs/img/headerBG.jpg') no-repeat center top;
 }
.lumus-header__intro {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 15px;
  padding-top: 12px;
  
}
.lumus-header__intro p {
  margin-left: -9%;
}
.main-title {
  color: #fff;
  padding-left: 20px;
 }
.main-title__bold {
  font-family: "LatoBold";
  font-size: 3.45rem;
  padding-left: 3px;
  margin-top: 11px;
  margin-bottom: 5px;
  }
.main-title__font-china {
  font-family: "ChinaCyr";
  font-size: 60px;
  color: #FAD264;
  margin-bottom: 16px;
}
 .main-title__stars{
 position: relative;
 z-index: 2;
 padding-right: 23px;
 margin-bottom: 24px;
 }
 .main-title__stars img {
width: auto;
margin-right: 1.4px;
 }
 .main-title__stars::after {
  content: "";
  width: 91.5%;
  border-top: 1px solid #FAD264;
  position: absolute;
  top:5px;
  left:15px;
  z-index: 1;

 }
 .main-title__subtitle {
  margin-right: 24px;
  line-height: 0.4rem;
 }
 .main-title__subtitle p:first-of-type {
  margin-right: 3px;
 }
 .main-title__subtitle p:last-of-type {
  margin: 42px 0 36px;
 }
 .autor img{
  
 position: relative;
  bottom: 12px;
  right:15px;
}

/*end стили header*/

/*start rectangle*/
.rectangle {
   background: #FAD264 ;
  }
.rectangle__paragraph {
  padding: 22px 2px 20px 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}
/*end rectangle*/

/*start presentation*/
.presentation {
  
  background: url('../imgs/img/presentationBG.jpg') no-repeat center top;
  width: 100%;
  color: #FFFFFF;
}
.presentation-learn {
  padding: 15px 2px 5px;
}
.learn__basics img{
  width: auto;
}
.learn__basics p {
  margin-top: 10px;
}
.learn__basics:last-of-type {
  padding-left: 5px;
}
.cost__notes p {
  text-transform: uppercase;
  margin: 2px 0 20px;
}
.cost__value {
  font-family: "LatoBold";
  font-size: 2.18rem;
  margin-bottom: 30px;
}
.cost-notes__btn {
  margin-bottom: 28px;
  margin-left: -2px;
}
.cost__timer {
  line-height: 1.1rem;
  
}
.cost__timer p:last-of-type {
  margin: 27px 0 50px;
}
/*end presentation*/

/*start differences*/
.differences-title {
  margin: 60px 0 10px;
}
.differences-title h2 {
  font-weight: bold;
  font-size: 2.2rem;
  padding: 4px 40px 0;
}
.benefits img {
  margin-bottom: 10px;
 
}
.benefits p {
  margin-bottom: 65px;

}

/*end differences*/

/*start notes*/
.line {
 margin-bottom: 50px;

}
.line:before {
  content: "";
  position: absolute;
width: 45%;
left: 2%;
height: 4px;
background: #E20505;
}
.line:after {
  content: "";
  position: absolute;
width: 45%;
right: 2%;
height: 4px;
background: #E20505;
}
.notes__title h2 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 57px;
}
.notes-item {
  margin-bottom: 70px;
  border: 3px solid #FAD264;
  min-height: 647px;
}
.notes-item h5 {
  font-weight: bold;
}
.notes-item__title {
  margin: 38px 45px 0 50px;
}
.notes-item img {
margin: -2px 0 22px 4px;
}
.notes-item__subtitle {
  margin: 0 30px 0 30px;
}
/*end notes*/

/*start pros*/
.pros {
  background: #EBEBEB;
}
.pros__title {
  margin: 60px 0 33px;
  
}
.pros-item {
margin-bottom: 60px;
}
.pros__title h2 {
    font-weight: bold;
    font-size: 2.2rem;
}
.pros-item img{
margin-bottom: 18px;
}
.pros-item__subtitle {
  margin: 0 8px;
}
/*end pros*/

/*start buy-notes*/
.order-notes {
  margin-top: 60px;
  border: 3px solid #E20505;
  min-height: 418px;
}
.order-notes__title {
  font-weight: bold;
  margin-top: 38px;
  font-size: 1.54rem;
 
}
.order-notes__cost {
  font-family: "LatoBold";
  font-size: 2.18rem;
  margin-top: 12px;
}
.order-notes__btn {
  margin-top: 30px;
  margin-left: -2px;
}
.order-notes__sub {
  margin-top: 10px;
  line-height: 3.35rem;
}
/*end buy-notes*/

/*start personal-account*/
.personal-account {
  background: url('../imgs/img/personal-accBG.jpg') no-repeat center top;
}
.account-title {
  margin-top: 62px;
}
.account-title h4{
font-weight: bold;
font-size: 1.525rem;
margin-bottom: 20px;
}
.account-benefits {
margin: 18px 0 0 -104px;
list-style: none;
}
.account-benefits li {
  position: relative;
  margin-bottom: 22px;
}

.account-benefits li:before {
  content: "";
  position: absolute;
  left: -47px;
  top: 9px;
  width: 28px;
  height: 4px;
  background-color: #FAD264;;
}

/*end personal-account*/

/*start footer*/
.foot {

background: url('../imgs/img/footerBG.jpg') no-repeat center top;
color: #FFFFFF;
}
.contacts {
  margin-top: 35px;
  font-size: 1.14rem;
}
.foot__service p {
text-transform: uppercase;
}
.foot__service a, .foot__call a {
  color: #FAD264;
  text-decoration: none;
  
}
.foot__service a:hover {  
  padding-bottom: 2px; border-bottom: 1px solid #FAD264;
}

.foot__call {  
position: relative;
top: 0px;
margin-right: 70px;
left: 97px;
text-transform: uppercase;
}
.foot__call:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -67.5px;
  height: 84px;
width: 2px;
  background: #FAD264;
}
.contacts__tel {
  font-size: 1.5rem;
  margin: -3px 0 12px -2px;
}
.foot__call a:hover {
  border-bottom: 3px solid #FAD264;
}
.foot__call p:last-of-type {
  margin: 0 0 0 -2px;
}
.foot__official-data {
  margin-top: 8px;
}
.foot__official-data p:first-of-type {
  margin-bottom: 14px;
}
.foot__official-data a {
  margin-top: -15px;
  color: rgba(255, 255, 255, 0.5393); 
}
.foot__official-data, .foot__subtitle {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5393);
  }
.foot__subtitle {

}
/*end footer*/