@font-face { 
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoregular.eot");
  src: url("../fonts/Lato/latoregular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoregular.woff") format("woff"),
        url("../fonts/Lato/latoregular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/latoheavy.eot");
  src: url("../fonts/Lato/latoheavy.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lato/latoheavy.woff") format("woff"),
        url("../fonts/Lato/latoheavy.ttf") format("truetype");
}

@font-face {
  font-family: "ChinaCyr";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/China/8650.ttf") format("truetype");
}

 html  {
  box-sizing: border-box;
} 
body {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  font-family: "LatoRegular";
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
  padding: 0px;
}
ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.button {

}
/*start стили header*/
.header {
  padding: 20px 0 16px;
  background: url('../imgs/img/headerBG.jpg') no-repeat center top;
 }
.lumus-header__intro {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 15px;
  padding-top: 12px;
  
}
.lumus-header__intro p {
  margin-left: -9%;
}
.main-title {
  color: #fff;
  padding-left: 20px;
 }
.main-title__bold {
  font-family: "LatoBold";
  
  font-size: 3.45rem;
  padding-left: 3px;
  margin-top: 11px;
  margin-bottom: 5px;
  }
.main-title__font-china {
  font-family: "ChinaCyr";
  font-size: 60px;
  color: #FAD264;
  margin-bottom: 16px;
}
.color--white {
  color: white;
 }
 .main-title__stars{
 position: relative;
 z-index: 2;
 padding-right: 23px;
 margin-bottom: 27px;
 }
 .main-title__stars img {
width: auto;
margin-right: 1.4px;
 }
 .main-title__stars::after {
  content: "";
  width: 91.5%;
  border-top: 1px solid #FAD264;
  position: absolute;
  top:5px;
  left:15px;
  z-index: 1;

 }
 .main-title__subtitle {
  margin-right: 28px;
  line-height: 0.4rem;
 }
 .main-title__subtitle p:last-of-type {
  margin: 42px 0 0;
 }
 .color--yellow {
  color: #FAD264;;
 }
.autor img{
 position: relative;
  bottom: 12px;
  right:15px;
}
/*end стили header*/

/*start rectangle*/
.rectangle {
 
  width: 100%;
  background: #FAD264 ;
  }
.rectangle__paragraph {
  padding: 20px 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}
/*end rectangle*/

/*start presentation*/
.presentation {
  
  background: url('../imgs/img/presentationBG.jpg') no-repeat center top;
  width: 100%;
  
  color: #FFFFFF;
}
/*end presentation*/

/*start differences*/

/*end differences*/

.separation-line {
  text-align: center;
}
/*start notes*/
.notes {
  font-family: "LatoRegular";
}
/*end notes*/

/*start pros*/
.pros {
  background: #EBEBEB;
  font-family: "LatoRegular";
}
/*end pros*/

/*start by-notes*/
.order-notes {
  font-family: "LatoRegular";
  margin: 60px auto 0;
  border: 3px solid #E20505;
  width: 754px;
  height: 418px;
}
.order-notes__head {
  margin-top: 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.order-notes__btn {
  width: 360px;
  margin-top: 20px;
  margin-bottom: 26px;
  font-size: 20px;
  text-transform: uppercase;
  background: #FAD264;
  border-radius: 50px;
  padding-top: 31.4px;
  padding-bottom: 31px;
  border: 0;
}
.order-notes__cost {
font-weight: 900;
font-size: 35px;
line-height: 42px;
text-transform: uppercase;
color: #E20505;
}
.order-notes__sub {
  font-weight: 500;
  line-height: 50px;
}
/*end by-notes*/

/*start personal-account*/
.personal-account {
  font-family: "LatoRegular";
  background: url('../imgs/img/personal-accBG.jpg') no-repeat center top;
  width: 100%;
}
/*end personal-account*/

/*start footer*/
.foot {
font-family: "LatoRegular";
background: url('../imgs/img/footerBG.jpg') no-repeat center top;
width: 100%;
color: #FFFFFF;
}
.foot__cross-line {
  background: #FAD264;
  height: 85.05px;
  width: 2px;
  margin-top: 38.56px;
 }
.foot__call {

}
.foot__official-data {
 
  font-family: 'Roboto';
  color: rgba(255, 255, 255, 0.5393);
  }
.foot__subtitle {
 
  font-family: 'Roboto';
  color: rgba(255, 255, 255, 0.5393);
}
/*end footer*/