section.account
  .container.text-center
    h3 ПОСЛЕ ОПЛАТЫ ВЫ ПОЛУЧАЕТЕ <span class="color-red">ДОСТУП К ЛИЧНОМУ КАБИНЕТУ.
    .account__main
      .row.flex-column-reverse.flex-lg-row
        .col-12.col-lg-6
          .account__autor     
            img(src="./assets/img/images/autor-bottom.png" alt="Автор Татьяна Панюшкина")
        .col-12.col-lg-6
          ul.account__benefits.text-left
            li В личном кабинете выложены конспекты уроков. Их нужно выполнять пошагово.
            li Формат курса подразумевает самостоятельную работу без обратной связи от Татьяны Панюшкиной и без проверки заданий.