
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description" content="TOXIN, бронирование номеров, лучший отель 2019 года")
    meta(name="keywords" content="TOXIN, бронирование номеров, отель, токсин, toxin, забронировать номер, в лучшем отеле, отельные взгляды, бронирование отеля")
    link(rel="shortcut icon" href="./favicons/favicon.ico")
    title= title
  body
    main.main
      .intro
        .container
          .intro__content
            .intro__booking-form
              h1.intro__h1 Найдём номера под ваши пожелания
      