
extends ./layout/layout.pug
include ./layout/mixin.pug
include ../blocks/button/button.pug
  
block content
  include ../blocks/header/header.pug

  main.main
  
    include ../blocks/rectangle/rectangle.pug
    include ../blocks/pesentation/pesentation.pug
    include ../blocks/differences/differences.pug
    include ../blocks/notes/notes.pug
    include ../blocks/pros/pros.pug
    include ../blocks/buy-notes/buy-notes.pug
    include ../blocks/account/account.pug
    
  include ../blocks/footer/footer.pug