section.buy-notes
  .container
    .buy-notes__offer.text-center
      h3.buy-notes__titlecost Стоимость PDF-конспектов
      .buy-notes__value.color-red 2 900 РУБ.
      .buy-notes__button
        +button()
      .buy-notes__timer
        p Заказать и оплатить комплект конспектов можно в течение 36 часов
        p ТАЙМЕР НА 36 ЧАСОВ  