section.notes
  .container.text-center
    h2 <span class="color-red">КОНСПЕКТЫ УРОКОВ,</span> КОТОРЫЕ ВЫ ПОЛУЧИТЕ
    .row
      -let notesList= [{title: "ПРОГНОЗИРОВАНИЕ<br> БУДУЩЕГО ПО ГОДУ<br> РОЖДЕНИЯ",alt: "book",descr: "Вы овладели навыками прогнозирования будущего человека. По году его рождения можете определять сферы деятельности, которые дают человеку максимальную финансовую выгоду."},{title: "ПРОГНОЗИРОВАНИЕ<br> БУДУЩЕГО ПО ПОЛНОЙ<br> ДАТЕ РОЖДЕНИЯ",alt: "book",descr: "Вы прогнозируете будущее в конкретном помещении с учетом энергетики пространства.<br> Также расшифровываете характер людей по годам рождения."},{title: "КОНСУЛЬТАНТ<br>С НЕБОЛЬШИМ<br>ОПЫТОМ",alt: "book",descr: "Вы делаете активации<br>  для корректировки и уничтожения негативных энергий,<br> для привлечения удачи, денег, здоровья, счастья, хороших отношений и т. д."},]
        each item, index in notesList
          .col-12.col-md-6.col-lg-4
            .notes__item.text-center
              h4 !{item.title}
              img(src="assets/img/images/kit"+ index +".png" alt=item.alt)
              .notes__subtitle !{item.descr}