
section.presentation
  .container
    .row
      .col-12.col-md
        .presentation__rectangle.text-center В результате самостоятельного обучения по конспектам Вы:
    .row
      - let presentationLearn= [{col:'col-12 col-lg-3', alt: "in-yan", descr: "Поймете основные положения 9-Дворцов и взаимодействие стихий"}, {col:'col-12 col-lg-6', alt: "home", descr: "Научитесь делать активации в помещениях для корректировки и уничтожения негативных энергий, для привлечения удачи, денег, здоровья, счастья, хороших отношений и т. д."}, {col:'col-12 col-lg-3', alt: "search", descr: "Научитесь прогнозировать будущее человека по дате его рождения"}]
        each item, index in presentationLearn
          div(class= item.col)
            .presentation__basics.text-center
              img(src="assets/img/icons/home" +index+ ".png" alt= item.alt)
              p= item.descr
            
        